# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
Client/node_modules/

# Expo
Client/.expo/
Client/dist/
Client/web-build/

# Native
Client/*.orig.*
Client/*.jks
Client/*.p8
Client/*.p12
Client/*.key
Client/*.mobileprovision

# Metro
Client/.metro-health-check*

# debug
Client/npm-debug.*
Client/yarn-debug.*
Client/yarn-error.*

# macOS
Client/.DS_Store
Client/*.pem

# local env files
Client/.env*.local

# typescript
Client/*.tsbuildinfo
Client/package-lock.json

# python
Server/.venv/
Server/__pycache__/
Server/.env